# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
venv/
.venv/

# Home Assistant configuration
config/*
!config/configuration.yaml

custom_components/.DS_Store
.DS_Store